.about-left_w3ls_img {
    background: url(/dist/img/ab.jpg)no-repeat center;
    min-height: 642px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-position:fixed;
}
.about-top_agile_its h2 {
	font-size:3em;
	font-weight:600;
	color: #000;
	text-transform: uppercase;
}
.about-top_agile_its {
     padding: 7em 0em 0em 3em;
}
.about-top_agile_its h5 {
    font-size: 11px;
    font-weight: 400;
    color: #33cc99;
    text-transform: uppercase;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #cec8c8;
    margin: 0px 0px 15px 0px;
    letter-spacing: 4px;
}
.about-top_agile_its span {
     font-weight: 600;
    font-style: italic;
    color: #ef5734;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 2em;
}
.about-top_agile_its p {
  font-size:1em;
  font-weight: 400;
  color: #838383;
  line-height: 2em;
  letter-spacing:1px;
  margin-bottom:1em;
}
p.w3l_sub_para_agile {
    color: #33cc99;
    letter-spacing: 5px;
    font-size: 0.9em;
    text-align: center;
    font-weight: 400;
}