/*-- banner-bottom --*/
.banner-bottom,.services,.service-bottom,.contact,#blog{
	padding:5em 0;
}
.banner-bottom h3{
       text-align: center;
        color: #262c38;
    font-size: 2em;
    text-transform: capitalize;
    width: 82%;
    font-weight: 700;
    margin: 0 auto;
    line-height: 1.5em;
    letter-spacing: 1px;
}
.banner-bottom h3 span{
	color:#33cc99;
}
.banner-bottom h3 span.fixed_w3{
	color:#eb5424;
}
.agileits_banner_bottom_grids,.w3layouts_work_grids,.wthree_testimonial_grids,.wthree_services_grids,.w3layouts_mail_grid{
	margin:3em 0 0;
}
.w3ls_banner_bottom_grid{
	position:relative;
}
.w3ls_banner_bottom_grid_pos{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	text-align:center;
}
/*-- image-effect --*/
.hovereffect {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect:hover .overlay {
  background-color:rgba(23, 24, 24, 0.49);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h4 {
	text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 1.2em;
    padding: 10px 0;
    width: 80%;
    margin: 0 auto;
     background: rgba(34, 206, 148, 0.51);
    -webkit-transform:translateY(60px);
    -ms-transform:translateY(60px);
    transform:translateY(60px);
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
	letter-spacing:1px;
}

.hovereffect:hover h4 {
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -moz-transform: translateY(20px);
  -o-transform: translateY(20px);
}

.hovereffect p{
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    font-weight: normal;
    margin: 0;
    padding: 3em 2em 0em;
    letter-spacing: 2px;
}

.hovereffect:hover p{
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.w3l_header {
    font-size:2.1em;
        color: #262c38;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    font-weight: 800;
    text-align: center;
}
.w3l_header:after {
    border-top: 5px solid #eb5424;
    display: block;
    width: 81px;
    content: "";
    margin: 8px auto 0;
}
.w3l_header span {
    color: #00ba66;
}

/*-- //banner-bottom --*/