.enroll-btn {
    padding: 10px 20px;
    margin: 10px;
    text-transform: uppercase;
    color: white;
}
.tute-title {
    margin-top: 1em;
    margin-bottom: 1em;
}
.tute-container {
    max-width: 1500px;
    margin-left: auto;
    margin-left: auto;
}
.tute-main-vid {
    margin-left: 3em;
    margin-bottom: 3em;
}
.profile-nav-link {
    color: #010000;
    &:hover {
        color: #177764;
    }
}
.profile-nav-link.active {
    color: #010000 !important;
    background: #2fdab8 !important;
}
.card-img-top {
    width: 50%;
}
.edit-pencil {
    position: relative;
    z-index: 2;
    margin-top: -25px;
    margin-right: 15px;
    float: right;

}
#title {
    position: relative;
    left: 10%;
  }
  #about_paragarph{
    position: relative;
    left: 5%;
    right: 5%;
  }
  #about_list{
    position: relative;
    left: 10%;
  }
.container-wide {
    width: 90%;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-right: auto;
    margin-left: auto;
}
.card {
    border: 1px solid rgba(0,0,0,.125);
}