.enroll-btn {
    padding: 10px 20px;
    margin: 10px;
    text-transform: uppercase;
    color: white;
}
.tute-title {
    margin-top: 1em;
    margin-bottom: 1em;
}
.tute-container {
    max-width: 1500px;
    margin-left: auto;
    margin-left: auto;
}
.tute-main-vid {
    margin-left: 3em;
    margin-bottom: 3em;
}
.profile-nav-link {
    color: #010000;
    &:hover {
        color: #177764;
    }
}
.profile-nav-link.active {
    color: #010000 !important;
    background: #2fdab8 !important;
}
.card-img-top {
    width: 50%;
}
.edit-pencil {
    position: relative;
    z-index: 2;
    margin-top: -25px;
    margin-right: 15px;
    float: right;

}
#title {
    position: relative;
    left: 10%;
  }
  
  #about_paragarph {
  position: relative;
  left: 5%;
  right: 5%;
  }
  
  #about_list {
  position: relative;
  left: 10%;
  }
  
  #viewImg{
  max-width:180px;
  }
  
  #labels{
    font-weight: bold;
  } 
  
  #select {
    min-width:265px;
    min-height: 45px;
    border-width: 3px;
    border-color: bisque;
    margin: 10px 10px 10px 0px;
  }
  .formColor{
    background: antiquewhite;
  }
  .viewAdd{
    background: #10707f;
    border: 1px solid #000;
  }
  .advertisementBorder{
    // border-radius: 20px;
    border: 2px solid rgb(181, 184, 184);
    background: rgb(236, 235, 235);
    margin-left: 1cm;
    margin-right: 1cm;
  }
  #about_list{
    position: relative;
    left: 10%;
  }
.container-wide {
    width: 90%;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-right: auto;
    margin-left: auto;
}
.card {
    border: 1px solid rgba(0,0,0,.125);
}
.header-bot {

    background: beige;
}
#myCarousel1.carousel-caption {
  position: inherit;
  min-height: 500px !important;
  padding-top: 10em;
}

/*-- banner --*/

#myCarousel1.carousel .carousel-item {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 22, 23, 0.2)), to(rgba(23, 22, 23, 0.5))), url(/dist/img/banner1.jpg) no-repeat;
  background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(/dist/img/chefBanner1.jpg) no-repeat;
  background-size: cover;
  width : 600px;
  height: 600px;
}

#myCarousel1.carousel .carousel-item.item2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 22, 23, 0.2)), to(rgba(23, 22, 23, 0.5))), url(/dist/img/banner2.jpg) no-repeat;
  background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(/dist/img/shoemaking.jpg) no-repeat;
  background-size: cover;
}

#myCarousel1.carousel .carousel-item.item3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 22, 23, 0.2)), to(rgba(23, 22, 23, 0.5))), url(/dist/img/banner3.jpg) no-repeat;
  background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(/dist/img/maskMaking.jpg) no-repeat;
  background-size: cover;
}

#myCarousel1.carousel .carousel-item.item4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 22, 23, 0.2)), to(rgba(23, 22, 23, 0.5))), url(/dist/img/banner4.jpg) no-repeat;
  background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(/dist/img/4.jpg) no-repeat;
  background-size: cover;
}

#myCarousel1.carousel .carousel-item.item5 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 22, 23, 0.2)), to(rgba(23, 22, 23, 0.5))), url(/dist/img/banner5.jpg) no-repeat;
  background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(/dist/img/vidathBanner.jpg) no-repeat;
  background-size: cover;
}

#myCarousel1.carousel-caption {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

#myCarousel1.carousel-caption h2,
#myCarousel1.carousel-caption h3 {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 14px;
  text-transform: uppercase;
}

#myCarousel1.carousel-caption h2 span,
#myCarousel1.carousel-caption h3 span {
  font-weight: 800;
  color: #2fdab8;
}

#myCarousel1.carousel-caption p {
  letter-spacing: 12px;
  font-size: 1.2em;
  font-weight: 600;
  color: #ffb900;
  margin-top: 1em;
}

#myCarousel1.carousel-caption a {
  color: #fff;
  letter-spacing: 3px;
  padding: 8px 20px;
  margin-top: 2em;
}
#myCarousel2.carousel-caption {
    position: inherit;
    min-height: 500px !important;
    padding-top: 10em;
  }
  
  /*-- banner --*/
  
  #myCarousel2.carousel .carousel-item {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 22, 23, 0.2)), to(rgba(23, 22, 23, 0.5))), url(/dist/img/banner1.jpg) no-repeat;
    background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(/dist/img/maskBanner.jpg) no-repeat;
    background-size: cover;
    width : 600px;
    height: 600px;
  }
  
  #myCarousel2.carousel .carousel-item.item2 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 22, 23, 0.2)), to(rgba(23, 22, 23, 0.5))), url(/dist/img/banner2.jpg) no-repeat;
    background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(/dist/img/shoeBanner.jpg) no-repeat;
    background-size: cover;
  }
  
  #myCarousel2.carousel .carousel-item.item3 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 22, 23, 0.2)), to(rgba(23, 22, 23, 0.5))), url(/dist/img/banner3.jpg) no-repeat;
    background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(/dist/img/slippersBanner.jpg) no-repeat;
    background-size: cover;
  }
  
  #myCarousel2.carousel .carousel-item.item4 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 22, 23, 0.2)), to(rgba(23, 22, 23, 0.5))), url(/dist/img/banner4.jpg) no-repeat;
    background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(/dist/img/clothesBanner.jpg) no-repeat;
    background-size: cover;
  }
  
  #myCarousel2.carousel .carousel-item.item5 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 22, 23, 0.2)), to(rgba(23, 22, 23, 0.5))), url(/dist/img/banner5.jpg) no-repeat;
    background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(/dist/img/vidathBanner.jpg) no-repeat;
    background-size: cover;
  }
  
  #myCarousel2.carousel-caption {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }
  
  #myCarousel2.carousel-caption h2,
  #myCarousel2.carousel-caption h3 {
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 14px;
    text-transform: uppercase;
  }
  
  #myCarousel2.carousel-caption h2 span,
  #myCarousel2.carousel-caption h3 span {
    font-weight: 800;
    color: #2fdab8;
  }
  
  #myCarousel2.carousel-caption p {
    letter-spacing: 12px;
    font-size: 1.2em;
    font-weight: 600;
    color: #ffb900;
    margin-top: 1em;
  }
  
  #myCarousel2.carousel-caption a {
    color: #fff;
    letter-spacing: 3px;
    padding: 8px 20px;
    margin-top: 2em;
  }
